*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.container{

}
body{
    background-color: #060607;
}
#navbar{
    display: flex;
}
#logo{
    max-width: 70%;
}
.navlinks{
    text-decoration: none;

}